apiVersion: v1
kind: ServiceAccount
metadata:
  name: velero-dashboard-sa
  namespace: velero-dashboard
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: velero-dashboard-role
rules:
  - apiGroups: ["velero.io"]
    resources: ["backups", "restores", "schedules", "downloadrequests", "deletebackuprequests", "serverstatusrequests", "backupstoragelocations", "volumesnapshotlocations"]
    verbs: ["get", "list", "watch", "create", "delete", "patch", "update"]
  - apiGroups: [""]
    resources: ["namespaces", "pods", "persistentvolumeclaims", "configmaps", "secrets"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: velero-dashboard-binding
subjects:
  - kind: ServiceAccount
    name: velero-dashboard-sa
    namespace: velero-dashboard
roleRef:
  kind: ClusterRole
  name: velero-dashboard-role
  apiGroup: rbac.authorization.k8s.io
